$color1:#fef2f2;
$color2:#3cd26b;
$color2_1:#174340;
$color3:#ec7425;
$color3_1:#e9e2ac;
$color4:#fff;
$color5:#292b46;
$color6:#161616;
$color6_1:#16161622;
$color6_2:#16161698;

$p:13.33vmax;
$p_md:7vmax;
$p_base:5vmax;
$p_base_inverse:15vmax 10vmax;
$p_sm:2vmax;
$p_sm_inverse:13vmax 0;
$p_zero:0;
